* {
    box-sizing: border-box;
}
html, body {
    @include size(100%);
    font-family: $font-roboto;
    background: $color-grey;
    font-size: 16px;
    font-weight: 300;
}
a {
    text-decoration: none;
    color: $color-primay-fallback-1;
}
body {
    @include margin(0);
}
hr {
    height: 5px;
    background: $color-accent;
    border: 0;
    @include _shadow(1);
}
section {
    &.app {
        position: relative;
        height: 100%;
    }
}
#wrapper {
    position: relative;
    @include size(100%);
}
#content {
    max-width: 1080px;
    margin: 0 auto;
    @include padding($grid-size);
    @include position(absolute, $grid-size * 4 $grid-size null);
    @include _shadow(1);
    background: $color-white;
    overflow: auto;
}