img {
    width: 100%;
}
.gallery-image {
    overflow: hidden;
}

[wp-animate-load] {
    @include transition(all, 1s, ease-in-out);
    opacity: 0;
    &.wp-animate-height:not(.loaded) {
        @include size(0);
    }
    &.loaded {
        opacity: 1;
    }
}

.image {
    @include position(absolute, 0);
    background-size: cover;
    background-position: center;
}